modules = ["nodejs-18", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run Bot with API"

[[workflows.workflow]]
name = "Run Bot with API"
author = 44350553
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[ports]]
localPort = 5000
externalPort = 80
